
/* global selectors */

* {
    font-family: Arial, 'Trebuchet MS', sans-serif;
}

/* ID selectors */

#pic {
    text-align: center;
}

/* class selectors */

.opening {
    font-size: 22px;
}

/* type selectors */

h1 {
    background-color: rgb(56, 159, 159);
    text-align: center;
}

img {
    height: auto;
    width: 500px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 51%), 5px 7px 5px rgb(0 0 0 / 30%);
}